/**** MAIN STYLES ****/


html {
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #63504d;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    background-color: #554441;
    --bs-link-color: #141619;
    --bs-link-hover-color: #ddd1d2;
    min-width: 300px;
}

main {
    margin: 10px;
    padding: 10px;
    background-color: #ba7d7da4;
}

.title, .centered {
    text-align: center;
}

.navbar-brand, .page-logo {
    max-width: 150px;
    margin: 0;
}

.navbar {
    background-color: #BA7D7D;
    border: 10px solid #554441;
}

.spooky-cat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
}

.spooky-font {
    font-size: x-small;
    font-style: italic;
    text-align: right;
    padding: 0 80px 0 0;
    margin: 0;
    font-weight: 600;
}

.new-book-links {
    display: flex;
    justify-content: space-between;
}

.book-details-buttons {
    display: flex;
    justify-content: space-evenly;
}


/*** MEDIA QUERIES ***/
